@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing : auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* header styles */

/* color */
.orange{
  color: #FEA301;
}
.sky-blue{
  color: #01ACFD;
}
.aqua{
  color: #05D4DF;
}
.purple{
  color: #5D58EF;
}
.white{
  color: #F7F7F7;
}
.black{
  color: #111111;
}
.font-sz-b{
  font-weight: bold;
}
/* navbar styles */

.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: bold;
  font-size: 2rem;
}
.nav-div-one{

}
.nav-imges{
  align-items: center;
  

}
.nav-img-one{

  padding: 5%;
}
.brand{

}
.nav-div-two{

}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;


}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-div-three{
  background-color:;
}
.btn-color{
  background-color: #FEA301;
  border: none; 
  padding: 10px 60px;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 10px;

  
}

/* banner */
.banner{
  justify-content: space-between;
}
.banner-details{
  padding: 0px  ;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.banner-img{

}
.banner-title{
  font-weight: bold;
  font-size: 3.5rem;
}
.banner-description{
  margin: 0px;
}

.btn-primary{
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 47px;
  border-radius: 10px;
  background-color: #111111;
  border: none;
  
}
.banner-btn-primary{

  width: 100%;

}
.hide{
  display: none;
}



/* footer  */

.footer-div-container{
  justify-content: space-between;
  padding: 80px 180px 110px 200px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(190, 188, 188);


}

.kids-edu-div{

}
.footer-about{
  
}

.footer-li{
  list-style: none;

}


/* responsive media query */

@media screen and (max-width:576px) {
  .navbar .nav-link .banner{
    flex-direction: colum  n;
  }
}



